.section {
  background: #0a0a0a;
  padding: 150px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .section {
    padding: 96px 24px;
  }
}
